@font-face {
  font-family: 'Bungee';
  src: url('fonts/Bungee-Regular.ttf');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-family: 'Bungee';
  color: red;
  font-size: 60px;
  letter-spacing: 3px;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.button span {
  display: block;
  width: 50px;
  height: 10px;
  background-color: red;
}

header nav {
  position: fixed;
  width: 500px;
  height: 100vh;
  top: 100px;
  right: 0;
  background-color: black;
  transform: translateX(100%);
  transition: all 0.5s ease-out;
}

.transformed {
  transform: translateX(0);
}

nav div {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

nav div:hover {
  background-color: #ffe600;
}

nav div a {
  font-family: 'Bungee';
  color: red;
  text-decoration: none;
  font-size: 40px;
}

.video {
  width: 100%;
  height: 100vh;
  display: none;
}

.d-block {
  display: block;
}


