@font-face {
  font-family: 'Source Serif';
  src: url(../fonts/SourceSerif4-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(../fonts/SourceCodePro-VariableFont_wght.ttf);
}

:root {
  --source-serif-font: 'Source Serif';
  --source-code-pro-font: 'Source Code Pro';
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #0034AD;
  --color-pink: #AB0782;
  --color-shitty: #6E660A;
  --color-violet: #5F00AD;
  --color-hover: #0cf032;
  --transition: all 0.2s linear;
}

body {
  background-color: var(--color-white);
  font-family: var(--source-serif-font);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

h2 {
  font-size: 50px;
  font-weight: 300;
}

.button {
  border-width: 1px;
  border-style: solid;
  background: none;
  transition: var(--transition);
  font-family: var(--source-code-pro-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--color-hover);
  color: var(--color-black);
  border-color: var(--color-hover);
}

.container {
  width: 1180px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 180px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 100px 0;
}

header .avatar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 184px;
}

header .avatar img {
  width: 50px;
  height: 50px;
}

header .avatar h1 {
  font-size: 24px;
  font-weight: 400;
}

header nav {
  width: 166px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--source-code-pro-font);
}

header nav a {
  font-size: 16px;
  transition: var(--transition);
}

header nav a:hover {
  color: var(--color-hover);
}

.about h2 {
  line-height: 120%;
}

.achievement {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 80px 0;
  border-top-width: 1px;
  border-top-style: solid;
}

.achievement .achievement-text span {
  font-family: var(--source-code-pro-font);
  font-size: 16px;
  line-height: 103%;
  text-decoration: underline;
  display: block;
}

.achievement .achievement-text h2 {
  line-height: 125%;
  margin-top: 19px;
}

.achievement .achievement-text button {
  width: 83px;
  height: 27px;
  border-radius: 0;
  margin-top: 19px;
}

.blue {
  color: var(--color-blue);
  border-color: var(--color-blue);
  border-top-color: var(--color-blue);
}

.pink {
  color: var(--color-pink);
  border-color: var(--color-pink);
  border-top-color: var(--color-pink);
}

.shitty {
  color: var(--color-shitty);
  border-color: var(--color-shitty);
  border-top-color: var(--color-shitty);
}

.violet {
  color: var(--color-violet);
  border-color: var(--color-violet);
  border-top-color: var(--color-violet);
}

.dedication {
  padding: 30px 325px 0 0;
  border-bottom: 1px solid var(--color-black);
  height: 407px;
}

footer {
  width: 100%;
  height: 380px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer .links {
  padding: 30px 0 150px 0;
  display: flex;
  justify-content: space-between;
}

footer .links a {
  font-size: 50px;
  font-weight: 300;
  line-height: 120%;
  text-decoration: underline;
}

footer p {
  font-size: 50px;
  font-weight: 300;
  line-height: 120%;
}




