@media screen and (max-width: 800px) {
  .container {
    width: 700px;
  }

  header .avatar h1 {
    font-size: 22px;
  }

  .about {
    padding: 20px 80px 80px 0;
  }

  h2 {
    font-size: 36px;
  }

  .about h2 {
    line-height: 125%;
  }

  .achievement img {
    width: 325px;
    height: 325px;
  }

  .dedication {
    padding: 30px 80px 0 0;
  }

  .dedication h2 {
    line-height: 125%;
  }

  footer {
    height: 350px;
  }

  footer .links {
    padding: 30px 0 125px 0;
  }

  footer .links a {
    font-size: 36px;
    line-height: 125%;
  }

  footer p {
    font-size: 36px;
    line-height: 125%;
  }
}