button {
  width: 100px;
  height: 30px;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}