@import 'normalize';
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'button';


body {
  background-color: $body-color;
}

.todo-list {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  border: 2px solid $border-color;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}

.todo-list:hover {
  max-width: 900px;
  border: 5px solid $border-color;
  background-color: $background-color-after;
}


input {
  outline: 0;
  outline-offset: 0;
}

h2 {
  color: red;
  @include font-discharge();
}

li {
  color: $text-color;
  @include font-smooth();
}