*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.button{
   padding: 4px 15px;
   background: #673ab7;
   border: white;
   border-radius: 25px;
   color: white;
   font-weight: bold;
   font-size: 30px;
   cursor: pointer;
}