ul > li {
    list-style: none;
    display: inline;
    padding: 3px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #0b56ea;
}

a:hover {
    text-decoration: underline;
}

a::after {
    content: ">";
    padding-left: 10px;
    color: #333;
}

ul li span {
    color: #333;
}