html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #1e2ad3;
  background: linear-gradient(90deg,
      rgb(255, 209, 176) 0%,
      rgb(186, 192, 222) 99%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.currency-list {
  width: 600px;
  height: 500px;
  border: 1px solid #ffffff;
  padding: 60px;
  border-radius: 10px;
  position: relative;
  background-image: url("../Converter/converter_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #ff7300;
  font-size: 24px;
  margin-bottom: 60px;
}

.currency-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 25px;
  margin-bottom: 20px;
}

span {
  font-size: 16px;
  font-weight: 600;
  color: #14509c;
}

input {
  width: 300px;
  height: 30px;
  background: #dde0ee;
  border: 1px solid white;
  color: black;
  border-radius: 3px;
  padding-left: 10px;
}

.currency-name {
  font-size: 12px;
  font-size: 12px;
  color: grey;
  line-height: 1.2;
  text-align: right;
}