*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;  
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
    margin-top: 0;
}

p{
    margin: 0;
}
