@import 'normalize';
@import 'mixins';
@import 'variables';

html,body{
    height: 100%;
}

body{
    background-color: $bodyColor;
    @include flex-center(); // примесь включена
}

body > div{
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    //text-decoration: line-through;
    text-decoration-color: greenyellow;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 2px 2px navy;
    text-shadow: 1px 4px 2px magenta;
}

 h2{
     margin-left: 40px !important;
     padding-left: 40px !important;
 }
