@media (max-width:1440px){
    html, body{
        width: 100%;
        overflow-x: hidden;
    }    
}
@media (max-width:1360px){
    .header{
        gap: 5px;
    }
    header{
        margin: 0 50px;
    }
    .main{
        margin: 77px 40px;
    }
    .introduction img{
        width: 100%;
    }
    .projects{
        justify-content: center;
    }
    .ten_text{
        width: 1100px;
    }
    .page_four{
        margin: 100px 70px;
    }
    .page_eight{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:1220px){
    .page_two{
        margin: 100px 210px;
    }
    .text_three{
        margin-right: 10px;
    }
    .page_four{
        width: 90%;
    }
    .text_four{
        gap: 45px;
    }
    .column{
        justify-content: center;
    }
    .text_six{
        margin-right: 65px;
    }
    .six_inside{
        margin: 60px 55px;
    }
    .text_eight{
        padding-top: 70px;
        padding-bottom: 60px;        
    }
    .text_eight h3{
        display: flex;
        justify-content: center;
    }
    .project{
        display: ruby-text;
        margin-bottom: 5px;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .page_eight{
        height: auto;
    }
    .nine_text{
        gap: 20px 10px;
    }
    .page_nine{
        margin: 50px 50px;
    }
    .page_ten{
        padding: 100px 75px;
    }
    .ten_text{
        width: auto;
    }
}  
  
/*@media (max-width:990px){
    header{
        margin: 0 -25px;
        justify-content: flex-start;
    }
    .main{
        margin: 77px -20px;
    }
    .page_two{
        margin: 100px 130px;
    }
    .text_three{
        margin-right: -40px;
    }
    .text_five{
        margin-right: 20px;
    }
    .text_six p{
        width: 295px;
    }
    .project{
        font-size: 21px;
    }
    .page_nine{
        margin: 50px 25px;
    }
    .avatar{
        width: 150px;
        margin-left: 20px;
    }
}
    /*.text-nine p{
        width: 285px;
        height: 115px;
    }

@media (max-width:830px){

}
}
/*@media (max-width:1000px){
    .page_four{
        margin: 100px 0;
        padding-left: 20px;
    }
    .column{
        width: 300px;
    }
    .text_four{
        gap: 30px;
    }   
}
    
    .projects{
        justify-content: center;
    }
    .ten_text{
        width: 1070px;
    }*/



