@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

.wrapper {
  font-family: 'Poppins';
}

header {
  width: 100%;
  min-width: 1440px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

header nav span a {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #1B1A1A;
}

header nav button {
  width: 155px;
  height: 46px;
  background-color: #1B1A1A;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
}

.partners {
  min-width: 1440px;
  margin: 0 auto;
  display: flex;
  background-color: #ECE7E4;
}

.partners div {
  padding: 137px 100px;
}

.partners div span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.partners h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 70.4px;
  color: #1B1A1A;
  margin: 20px 0;
}

.partners p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #403E3B;
  margin-top: -2px;
}

.partners button {
  width: 133px;
  height: 46px;
  opacity: 1;
  border-radius: 14px;
  border: none;  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  background-color: #ECE7E4;
  color: #1B1A1A;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.firm {
  min-width: 1440px;
  margin: 0 auto;
}

.firm_content {
  display: flex;
  justify-content: space-between;
  padding: 100px 336px;
}

.firm_content h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0%;
  color: #403E3B;
}

.firm_content .firm_content_text {
  max-width: 500px;
}

.firm_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #403E3B;
}

.firm_senior {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.firm_senior img {
  width: 84px;
  height: 84px;
}

.firm_senior h3 {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #1B1A1A;
  margin: 0;
}

.firm_senior h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #645C55;
  margin: 0;
}

.reeding {
  min-width: 1440px;
  width: 100vw;
  min-height: 600px;
  margin: 0 auto;
  background-image: url('../imgs/Frame.png');
  background-size: cover;
  position: relative;
}

.reeding_text {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  top: 266px;
  right: 60px;
}

.reeding_text div {
  max-width: 300px;
}

.reeding h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
  margin: 0;
}

.reeding p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #645C55;
  margin: 0;
}

.process {
  min-width: 1440px;
  margin: 0 auto;
}

.process_content {
  padding: 100px 120px;
  margin: 0 auto;
}

.process_content > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.process_content > h3 {
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.process_items {
  display: flex;
  justify-content: space-between;
}

.process_item img {
  width: 117px;
  height: 102px;
  display: block;
  margin: 0 auto;
}

.process_item h6 {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.process_item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 42px;
}

.marble {
  background-image: url('../imgs/marble.png');
}

.customers {
  margin: 0 auto;
  min-width: 1440px;
  background-color: #403E3B;
  padding: 60px 136px;
}

.customers_content {
  margin: 0 auto;
  max-width: 1168px;
  display: flex;
  padding: 60px 136px;
  gap: 132px;
}

.customers_text {
  max-width: 460px;
  margin-top: 65px;
}

.customers_text span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ECE7E4;
}

.customers_text h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0%;
  color: #fff;
  margin: 0;
}

.customers_text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ECE7E4;
}

.customers_icons {
  max-width: 432px;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 96px;
}

.customers_icons img {
  width: 128px;
}

.customers_icons img:nth-child(1) {
  height: 30px;
}
.customers_icons img:nth-child(2) {
  height: 78px;
}
.customers_icons img:nth-child(3) {
  height: 20px;
}
.customers_icons img:nth-child(4) {
  height: 36px;
}

.swirling {
  background-image: url('../imgs/swirling.png');
}

.swirling_text {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  top: 266px;
  left: 60px;
}